<div class="RecipeHeading">
  <div class="Title">
    {{recipe.Title}}
    <span *ngIf="canEdit" style="font-weight:normal; font-size:12px; padding-left:20px;">
      <a [routerLink]="['/recipes/create/',recipe.RecipeID]">&lt; Edit &gt;</a>
    </span>
  </div>
  <div class="CategoryList" *ngIf="recipe.CategoryList?.length > 0">
    <span *ngFor="let category of recipe.CategoryList" style="padding-right:10px;">{{category.CategoryName}}</span>
  </div>
  <div class="Description" *ngIf="recipe.Description">
    {{recipe.Description}}
  </div>
  <div *ngIf="recipe.ImageList?.length > 0">
    <div style="clear:both;"></div>
    <div class="ImageThumbnail" *ngFor="let image of recipe.ImageList; let i = index">
      <img [src]="image.ThumbnailPath" (click)="ShowImage(i, imageDisplay);" style="cursor:pointer;" />
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<b>Quantity:</b>
<select [(ngModel)]="recipe.Quantity" (change)="updateQuantity()">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option>
</select>
<br /><br />
<div *ngIf="recipe.IngredientList?.length > 0">
  <b>Ingredients:</b>
  <ul class="IngredientsList">
    <li *ngFor="let ing of recipe.IngredientList" [class.Header]="ing.DisplayType == 'HDR'" [class.Ingredient]="ing.DisplayType == 'ING'">
      <span *ngIf="ing.DisplayType == 'HDR'">{{ing.IngredientName}}</span>
      <span *ngIf="ing.DisplayType == 'ING'">
        {{ing.DisplayQuantity}} {{ing.UnitOfMeasure}}
        {{ing.IngredientName}}
        <span *ngIf="ing.Notes">
          : {{ing.Notes}}
        </span>
      </span>
    </li>
  </ul>
  <br />
</div>
<div *ngIf="recipe.DirectionList?.length > 0">
  <b>Directions:</b>
  <ul class="DirectionsList">
    <li *ngFor="let dir of recipe.DirectionList" [class.Header]="dir.DisplayType == 'HDR'" [class.Direction]="dir.DisplayType == 'DIR'">
      {{dir.DirectionText}}
    </li>
  </ul>
</div>
<div *ngIf="errMsg" class="ErrorMsg">
  {{errMsg}}
</div>

<ng-template #imageDisplay>
  <div class="modal-body ImageStandard">
    <img [src]="recipe.ImageList[currentImageIndex].StandardPath" (click)="ChangeImage(currentImageIndex + 1)" style="cursor:pointer;" />
  </div>
</ng-template>
