<p>
  Hello, my name is Steven Perkins.  Welcome to my MVC site.  I created this site so I would
  have a playground to learn new things; and often the best way to learn is to have a problem to solve.
  My wife and I like to cook so I created tools for us to store and view recipes.
</p>
<p>
  Feel free to browse the site.  This site is very much a work in progress.  I work full time and this
  is something I work on in my free time. Please visit the About page if you would like more technical details
  on how this site is coded or future plans for this site.
</p>
