
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #EEEEEE;
  font-size: 14px;
  font-family: sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

input.ng-dirty.ng-invalid.ng-touched {
  border-color: #FF0000;
  color: #FF0000;
}

.ErrorMsg {
  color: #FF0000;
}

.PageFooter {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #FFFFFF;
}

.PageFooterText {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
}

.PageContent {
  clear: both;
  padding: 10px;
  background-color: #FFFFFF;
}

.SiteContainer {
  border: 2px solid #333333;
  border-radius: 8px;
  clear: both;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 3px #888888;
}

.DividerLine {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  background-color: #888888;
  height: 1px;
}

.PageTitle {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
}

.InputRow {
  list-style-type: none;
  clear: both;
  padding: 0px 0px 5px 0px;
  margin: 0px;
}

.InputRow .InputLabel {
  font-weight: bold;
  display: inline-block;
  width: 100px;
}

.InputRow .InputField {
  display: inline-block;
}

.BtnSubmit {
  background-color: #4800ff;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
}

.BtnSubmit:hover {
  background-color: #888888;
}

.BtnSubmit:disabled {
  background-color: #555555;
}

#SearchResultsHeading {
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

#SearchItem {
  padding-bottom: 5px;
}

#SearchItem #SearchTitle {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  background-color: #888888;
  color: #FFFFFF;
  clear: both;
}

#SearchItem #SearchTitle a, #SearchItem #SearchTitle a:visited {
  font-weight: normal;
  font-size: 12px;
  color: #FFFFFF;
}

#SearchItem #SearchTitle:hover {
  background-color: #444444;
  cursor: pointer;
}


#SearchItem #SearchDescription {
  padding: 5px;
  font-size: 12px;
  border: 2px solid #888888;
  border-top: none;
}

#SearchItem #SearchCategories {
  border: 2px solid #888888;
  border-top: none;
  border-bottom: none;
  padding: 2px 5px 2px 5px;
  font-size: 11px;
  background-color: #EEEEEE;
}

.RecipeHeading {
  border-bottom: 1px solid #888888;
  margin-bottom: 5px;
}

.RecipeHeading .Title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 5px;
  clear: both;
}

.RecipeHeading .CategoryList {
  font-size: 11px;
  padding-bottom: 5px;
}

.RecipeHeading .Description {
  font-size: 12px;
  padding-bottom: 5px;
}

.IngredientsList {
  margin: 0px;
  padding: 0px 0px 0px 10px;
  list-style-type: none;
  counter-reset: ingcounter;
}

.IngredientsList .Header {
  font-weight: bold;
  counter-reset: ingcounter;
}

.IngredientsList .Ingredient {
  padding-left: 25px;
  text-indent: -1.1em;
}

.IngredientsList .Ingredient:before {
  font-weight: bold;
  content: counter(ingcounter) ": ";
  counter-increment: ingcounter;
}

.DirectionsList {
  margin: 0px;
  padding: 0px 0px 0px 10px;
  list-style-type: none;
  counter-reset: dircounter;
}

.DirectionsList .Header {
  font-weight: bold;
  padding-bottom: 5px;
  counter-reset: dircounter;
}

.DirectionsList .Direction {
  padding-bottom: 5px;
  padding-left: 25px;
  text-indent: -1.1em;
}

.DirectionsList .Direction:before {
  font-weight: bold;
  content: counter(dircounter) ": ";
  counter-increment: dircounter;
}

.Pager .Selector {
  display: inline;
  padding: 2px 4px 2px 4px;
  border: 2px solid #4800ff;
  background-color: #EEEEEE;
}

.Pager .Selector:hover {
  background-color: #AAAAAA;
  cursor: pointer;
}

.Pager .CurrentPage, .Pager .CurrentPage:hover {
  background-color: #4800ff !important;
  color: #FFFFFF;
  font-weight: bold;
  cursor: default !important;
}

.SectionHeading {
  font-weight: bold;
  width: 100%;
  padding: 5px;
  color: #FFFFFF;
  margin: 10px 0px 10px 0px;
  background: -webkit-linear-gradient(top, #888888 0%,#CCCCCC 100%);
  background: -o-linear-gradient(bottom, #888888 0%,#CCCCCC 100%);
  background: -moz-linear-gradient(bottom, #888888 0%,#CCCCCC 100%);
  background: linear-gradient(to bottom, #888888 0%,#CCCCCC 100%);
}

.SectionText {
  padding: 5px;
  width: 100%;
}

.InputForm .FormFields {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.InputForm .FormFields li {
  width: 100%;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.InputForm .FormFields label {
  font-weight: bold;
  width: 120px;
}

.InputForm .FormFields .Seperator {
  border-bottom: 1px solid #888888;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.ImageThumbnail {
  float: left;
  width: 100px;
  margin: 5px;
}

.ImageStandard {
  width: 800px !important;
  text-align: center;
  pointer-events: none;
}

.ImageStandard img {
  cursor: pointer;
  pointer-events: all;
}

.ImageEditor {
  width: 100px;
  float: left;
  margin: 5px;
}

.ImageEditor .ImageControls {
  width: 100%;
  display: block;
  text-align: center;
  align-content: center;
}

.ImageEditor .ImageThumbnail {
  margin: 0px;
  float: none;
  height: inherit;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}
