<div>
  You can use the form below to log in.  I have setup some demo logins so you can see the entire site
  <br /><br />
  Username: <b>admin</b>, Password: <b>test</b><br />
  The demo admin login will allow you to see the entire site.  It will not allow you to save data.
  <br /><br />
  Username: <b>test</b>, Password: <b>test</b><br />
  The demo test login is an example of a login without admin security roles.
</div>
<div class="SectionHeading">
  Login
</div>
<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="InputForm">
    <ul class="FormFields">
      <li>
        <label>User Name:</label>
        <input formControlName="userName" placeholder="User Name" />
        <span [hidden]="!(formErrors.userName)" class="ErrorMsg">
          {{formErrors.userName}}
        </span>
      </li>
      <li>
        <label>Password:</label>
        <input formControlName="password" placeholder="Password" type="password" />
        <span [hidden]="!(formErrors.password)" class="ErrorMsg">
          {{formErrors.password}}
        </span>
      </li>
      <li>
        <label></label>
        <input type="submit" id="btnSubmit" class="BtnSubmit" value="Login" [disabled]="loginForm.invalid || disableButton" />
      </li>
    </ul>
  </div>
  <div *ngIf="errMsg" class="ErrorMsg">
    {{errMsg}}
  </div>
</form>
