<form [formGroup]="recipeForm" novalidate (ngSubmit)="SubmitForm()">
  <div class="RecipeHeading">
    <div class="Title">
      {{pageHeading}}
      <div *ngIf="recipe.RecipeID" style="float:right; font-weight:normal; font-size:12px;">
        <a href='#'>&lt; Delete Recipe &gt;</a>
      </div>
    </div>
  </div>
  <div class="InputForm">
    <div class="SectionHeading">
      Recipe Details
    </div>
    <ul class="FormFields">
      <li>
        <label>Title:</label>
        <input type="text" formControlName="Title" />
        <div *ngIf="showValidationMessages && recipeForm.get('Title').errors"
             class="ErrorMsg">Please enter the Title.</div>
      </li>
      <li>
        <label>Description:</label>
        <textarea formControlName="Description"
                  rows="3"
                  style="width:600px; max-width: 100%;"></textarea>
        <div *ngIf="showValidationMessages && recipeForm.get('Description').errors"
             class="ErrorMsg">Please enter the Description.</div>
      </li>
      <li>
        <label>Categories:</label>
        <span *ngFor="let category of recipe.CategoryList" style="padding-right:15px; white-space:nowrap;">
          {{category.CategoryName}} <input type="checkbox" [name]="category.CategoryCode" [value]="category.CategoryCode" [checked]="category.IsSelected" (change)="CategoryChange(category.CategoryCode, $event.target.checked)" />
        </span>
      </li>
      <li>
        <label>Images:</label>
        <input type="file" id="NewImage" accept=".jpg,.jpeg,.png" />
        <span id="UploadResult"></span>
        <div *ngIf="recipe.ImageList?.length > 0">
          <div style="clear:both;"></div>
          <div *ngFor="let image of recipe.ImageList; let i = index" class="ImageEditor">
            <div class="ImageThumbnail">
              <img [src]="image.ThumbnailPath" (click)="ShowImage(i, imageDisplay);" style="cursor:pointer;" />
            </div>
            <div class="ImageControls">
              <div style="display:inline-block; width:30px; margin-left:1px; text-align:left;">
                <span *ngIf="i > 0" id="Image_MovePrevious" class="Link" (click)="Image_MovePrevious(i)">&#9668;</span>
              </div>
              <span id="Image_Delete" style="cursor:pointer; color:#FF0000;" class="Link" (click)="Image_Delete(i)">X</span>
              <div style="display:inline-block; width:30px; text-align:right;">
                <span *ngIf="i < recipe.ImageList.length - 1" id="Image_MoveNext" class="Link" (click)="Image_MoveNext(i)">&#9658;</span>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
      </li>
    </ul>

    <div class="SectionHeading" style="clear:both;">
      Ingredients
    </div>
    <div class="IngredientsForm" formArrayName="IngredientList" style="clear:both;">
      <span id="Ingredient_AddNew" class="Link" (click)="Ingredient_AddNew()">&lt; Add New &gt;</span>
      <div *ngFor="let ingredient of recipeForm.get('IngredientList')['controls']; let i = index" [formGroupName]="i">
        <div style="clear:both;"></div>
        <input type="hidden" formControlName="IngredientID" />
        <ul class="FormFields" style="float:left;">
          <li>
            <label>Ingredient Name:</label>
            <input type="text" formControlName="IngredientName" style="margin-right:30px;" />
            <label>Display Type:</label>
            <select formControlName="DisplayType">
              <option value="ING">Ingredient</option>
              <option value="HDR">Header</option>
            </select>
            <div *ngIf="showValidationMessages && ingredient.get('IngredientName').errors && ingredient.get('IngredientName').errors.required"
                 class="ErrorMsg">Please enter an Ingredient Name.</div>
          </li>
          <li *ngIf="ingredientDisplay[i] === 'ING'">
            <label>Quantity:</label>
            <input formControlName="DisplayQuantity" style="margin-right:30px;"
                   [class.ng-invalid]="ingredient.errors && ingredient.errors['invalidQuantity']"/>
            <label>Unit Of Measure:</label>
            <input formControlName="UnitOfMeasure" />
            <div *ngIf="showValidationMessages && ingredient.errors && ingredient.errors['invalidQuantity']" class="ErrorMsg">Please enter a valid Quantity</div>
          </li>
          <li *ngIf="ingredientDisplay[i] === 'ING'">
            <label>Notes:</label>
            <input formControlName="Notes" style="width: 455px; max-width: 100%;" />
          </li>
        </ul>
        <div style="float:right; width:100px; text-align:right;">
          <span *ngIf="i > 0" id="Ingredient_MovePrevious" class="Link" (click)="Ingredient_MovePrevious(i)">Move Up &#9650;</span>
          <br />
          <span *ngIf="i < recipeForm.get('IngredientList')['controls'].length - 1" id="Ingredient_MoveNext" class="Link" (click)="Ingredient_MoveNext(i)">Move Down &#9660;</span>
          <br />
          <div style="padding-top:20px;"><span id="Ingredient_Delete" class="Link" (click)="Ingredient_Delete(i);">&lt; Delete &gt;</span></div>
        </div>
        <div style="clear:both;"></div>
        <hr *ngIf="i < recipeForm.get('IngredientList')['controls'].length - 1" />
      </div>
      <span *ngIf="recipeForm.get('IngredientList')['controls'].length > 0" id="Ingredient_AddNew" class="Link" (click)="Ingredient_AddNew()">&lt; Add New &gt;</span>
    </div>

    <div class="SectionHeading" style="clear:both;">
      Directions
    </div>
    <div class="DirectionsForm" formArrayName="DirectionList" style="clear:both;">
      <span id="Direction_AddNew" class="Link" (click)="Direction_AddNew()">&lt; Add New &gt;</span>
      <div *ngFor="let direction of recipeForm.get('DirectionList')['controls']; let i = index" [formGroupName]="i">
        <div style="clear:both;"></div>
        <input type="hidden" formControlName="DirectionID" />
        <ul class="FormFields" style="float:left;">
          <li>
            <label>Display Type:</label>
            <select formControlName="DisplayType">
              <option value="DIR">Direction</option>
              <option value="HDR">Header</option>
            </select>
          </li>
          <li>
            <label>Direction Text:</label>
            <input formControlName="DirectionText" style="width: 455px; max-width: 100%;" />
            <div *ngIf="showValidationMessages && direction.get('DirectionText').errors"
                 class="ErrorMsg">Please enter the Direction Text.</div>
          </li>
        </ul>
        <div style="float:right; width:100px; text-align:right;">
          <span *ngIf="i > 0" id="Direction_MovePrevious" class="Link" (click)="Direction_MovePrevious(i)">Move Up &#9650;</span>
          <br />
          <span *ngIf="i < recipeForm.get('DirectionList')['controls'].length - 1" id="Direction_MoveNext" class="Link" (click)="Direction_MoveNext(i)">Move Down &#9660;</span>
          <br />
          <div style="padding-top:20px;"><span id="Direction_Delete" class="Link" (click)="Direction_Delete(i);">&lt; Delete &gt;</span></div>
        </div>
        <div style="clear:both;"></div>
        <hr *ngIf="i < recipeForm.get('DirectionList')['controls'].length - 1" />
      </div>
      <span *ngIf="recipeForm.get('DirectionList')['controls'].length > 0" id="Direction_AddNew" class="Link" (click)="Direction_AddNew()">&lt; Add New &gt;</span>
    </div>

    <hr />
    <div style="text-align:center;">
      <input id="btnSave" class="BtnSubmit" type="submit" value="Save" style="width: 60px;" />
      <input id="btnCancel" class="BtnSubmit" type="button" value="Cancel" (click)="CancelRecipe()" style="margin-left:40px; width:60px;" />
    </div>
  </div>
</form>

{{ingredientDisplay | json}}
<br /><br />
{{this.recipeForm.errors | json}}
<br /><br />
{{this.recipeForm.valid | json}}

<ng-template #imageDisplay>
  <div class="modal-body ImageStandard">
    <img [src]="recipe.ImageList[currentImageIndex].StandardPath" (click)="ChangeImage(currentImageIndex + 1);" style="cursor:pointer;" />
  </div>
</ng-template>
