<div class="SectionHeading">
  About
</div>
<div class="SectionText">
  My goal with this site is to use as few third party tools as possible.  I do use product libraries like Telerik
  and obout regularly for professional projects.  However, I feel that doing as much as possible without them
  will provide a better learning experience.  Then if I do use third party tools for work related projects, I
  will be able to use them more effectively because I have a better base understanding of how the code works.
</div>

<div class="SectionHeading">
  Technology Used
</div>
<div class="SectionText">
  This site is coded using ASP.NET MVC, C# and jQuery.  The database is MySQL.  Since this is a personal site
  I am using HTML5 and am not trying to support older browser versions.  The top menu data is read from an XML file.
  I just felt like trying XML for the menu and thought it might be easier to manage the menu for a small site via
  XML rather than creating database structures.
  <br /><br />
  If you want to view the source code for this site you can download it from GitHub using the link below:
  <br />
  <a href="https://github.com/BiscuitChief/BiscuitLand/archive/master.zip" target="_blank">Download Link</a>
  <br /><br />
  If you would like to download/view the database structures visit the following page.  You will need to log in
  using the Admin demo login to access the download page.
  <br />
  <a href="~/DatabaseScripts/">Download Database Scripts</a>
</div>

<div class="SectionHeading">
  Future Plans
</div>
<div class="SectionText">
  <div style="font-weight:bold;">REST Api</div>
  <div>I'm working on getting the site converted over to use ASP.NET WebApi (REST) and AngularJs.</div>
  <br />
  <div style="font-weight:bold;">Recipe Download</div>
  <div>Add a way to download recipes, probably in the form of a PDF document.</div>
  <br />
  <div style="font-weight:bold;">Better site design</div>
  <div>
    I'm more of a developer than a designer.  Right now I'm focused more on functionality.
    Over time I'm sure I'll be able to improve the site design.
  </div>
</div>
