<div class="SectionHeading">
  About
</div>
<div class="SectionText">
  This is my personal site for learning new things.  The best way to learn is to have a problem to solve, so I created
  this site.  I wanted a place to try things that I could create from the ground up.  I felt that this would provide
  a better learning experience.  That way when I get into other projects or use third party tools I will have a better
  understanding of how the code works.
</div>

<div class="SectionHeading">
  Technology Used
</div>
<div class="SectionText">
  This site is using ASP.NET Web Api, C# and Angular 5.  The database is MySQL.  Since this is a personal site
  I am not trying to support older browser versions.  The top menu data is read from an XML file just because I felt like
  it at the time.  Most of the data is stored in the database.
  <br /><br />
  If you want to view the source code for this site you can download it from GitHub using the link below:
  <br />
  <a href="https://github.com/BiscuitChief/BiscuitAngular2/archive/master.zip" target="_blank">Download Link</a>
  <br /><br />
  If you would like to download/view the database structures visit the following page.  You will need to log in
  using the Admin demo login to access the download page.
  <br />
  <a routerLink="/databasescripts" >Download Database Scripts</a>
</div>

<div class="SectionHeading">
  Future Plans
</div>
<div class="SectionText">
  <div style="font-weight:bold;">Change Database</div>
  <div>Eventually I'll probably move to a local SQL Server instead of MySQL.  Since this is a small personal site it'll be easier for me to manage the data that way.</div>
  <br />
  <div style="font-weight:bold;">Recipe Download</div>
  <div>Add a way to download recipes, probably in the form of a PDF document.</div>
  <br />
  <div style="font-weight:bold;">Better site design</div>
  <div>
    I'm more of a developer than a designer.  Right now I'm focused more on functionality.
    Eventually I will probably do a full redesign using bootstrap.
  </div>
</div>
